<div class="rounded-lg border shadow-sm mb-8 border-slate-700 bg-slate-800">
    <div class="flex justify-between items-center p-6 bg-gradient-to-r from-sky-900 to-blue-950 text-white">
        <div>
            <h2 class="font-semibold text-2xl">Catania</h2>
            <p class="text-sm text-sky-200">Oggi, 7 Maggio</p>
        </div>
        <div>
            <img src="assets/cloud.svg" alt="Weather Icon" class="w-16 h-16">
            <span class="text-3xl font-bold">22°C</span>
        </div>

    </div>
</div>
